:root {
    --primary-color: black;
    --accent1-color: #0055A4;
    --heading-color: #003366;
    --text-color: #005f73;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #005f73;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #003366;
}

header img {
    width: 100px;
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 12px;

}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 4px;

}

header nav a:hover {
    background-color: #0055A4;
}

h1,
h2 {
    font-family: Times New Roman, Georgia, serif;
    text-align: center;
    color: #005f73;
}

header h1 {
    color: white;
}

section h2 {
    background-color: #003366;
    color: white;
    padding: 12px;
    margin: 0;
}

/* FOOTER CONTEXT CENTERING */
footer {
    width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--heading-color);
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* SOCIAL ICONS positioning */
footer .socialmedia {
    display: flex;
    gap: 10px;
}

footer .socialmedia img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.employee-profiles {
    width: 840px;
    margin: 40px auto;
    padding: 30px 0;
    background-color: #003366;
}

.employee-profiles h2 {
    color: white;
    text-align: center;
    margin-bottom: 16px;
}

/* CENTER EMPLOYEE PROFILE*/
.employee-profiles .profiles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    ;
}

.employee-profiles figure {
    max-width: 180px;
    text-align: center;
}

/* employee names */
.employee-profiles figcaption {
    margin-top: 8px;
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
}

.employee-profiles img {
    width: 100%;
    max-width: none;
    height: auto;
}

/* MAP DIMENSIONS */
.map iframe {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.map,
.contact-form {
    flex: 1;
}

.contact-info {
    text-align: center;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
}

.contact-message {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px;
    color: var(--heading-color);
}

.company-info {
    text-align: center;
}

/* name/email column layout */
.contact-form {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 15px 10px;
}

.form-group {
    display: contents;
}

.contact-form label {
    align-self: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 1rem;
}

.message-purpose {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.message_purpose input .message-purpose legend {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-purpse input[type="radio"] {
    display: block;
    margin-bottom: 50px;
}

.message-purpose label {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
}

/* MESSAGE BOX FULL WIDTH */
textarea {
    grid-column: 1 / 3;
    min-height: 100%;
}

/* NEWSLETTER FULL WIDTH */
.form-bottom {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: 10px auto;

}

.form-bottom input[type="checkbox"] {
    vertical-align: middle;
    display: inline-block;
}

.form-bottom label {
    display: inline;
    white-space: nowrap;
    margin-left: 5px;
}

/* BUTTON FULL WIDTH */
.contact-form button {
    grid-column: 1 / 3;
    padding: 12px;
    background-color: #003366;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--heading-color);
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-section img {
    width: 100%;
    /*image fills its column */
    display: block;
}

.grid-section h3,
.grid-section p {
    text-align: center;
    margin: 10px 0;
}

.newsletter {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    background-color: #f0f8ff;
    box-sizing: border-box;
    display: block;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.adventure-gallery figure {
    margin: 0;
    text-align: center;
}

.adventure-gallery figcaption {
    margin-top: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 500px;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-align: center;
    font-size: 3rem;
    width: 100%;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0.6);
    color: white;
    padding: 1rem;
    max-width: 500px;
    ;
}

.hero.img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.welcome {
    width: 840px;
    margin: 20px auto;
    text-align: center;
}

.welcome h2 {
    background-color: #003366;
    color: white;
    padding: 15px;
    display: block;
}

.welcome p {
    color: #005F73;
    padding: 15px;
}

.trips-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.trip {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.trip img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.trips-table table {
    width: 100%;
    border-collapse: collapse;
}

.trips-table th,
.trips-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.trips-table th {
    background-color: #0077b6;
    color: white;
}

.cta-contact .button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #0077b6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

html,
body {
    margin: 0;
    padding: 0;
}

section p {
    text-align: center;
    margin: 0;
}

.trips-grid h3 {
    text-align: center;
    margin-top: 10px;
}

.contact-wrapper {
    display: flex;
    gap: 30px;
    max-width: 840px;
    margin: 40px auto;
}

.message-purpose label {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
}

.contact-form label[for="message"] {
    grid-column: 1/3;
}