thead tr,
tfoot tr {
    background-color: black;
    color: white;
    font-weight: bold;
}

form {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid gray;
    background-color: white;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 10px;
}

label {
    text-align: right;
    padding-right: 10px;
}

input,
select,
textarea,
button {
    padding: 6px;
    font-size: 1rem;
}

input.checkbox {
    width: 18px;
    height: 18px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 6px 12px;
}

table {
    border-collapse: collapse;
    border: 2px solid gray;
    font-family: sans-serif;
    font-size: 0.8rem;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: black;
    color: white;
    font-weight: bold;

}

fieldset {
    border: 2px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

legend {
    font-weight: bold;
}