* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
    background-color: #aba;
    /* write declarations here */
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: #abb;
    /* enter declarations here */
    display: grid;
    place-items: center;

}

.container2 {
    /* write declarations here */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.two {
    background-color: #ace;
    height: 100px;
    flex: 1 1 150px;
    text-align: center;
}

.container3 {
    /* write declarations here */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.columns-3 {
    /* write declaration here */
    grid-column: span 3;
    background-color: lightpink;
    text-align: center;
    padding: 20px;

}

.three {
    margin: .25rem;
    background-color: #abd;
    text-align: center;
    padding: 18px;
}

main {
    display: flex;
    flex-direction: row-reverse: gap: 2rem;
}