:root {
    --main-width: 800px;
    --nav-bg-color: #ddd;
    --nav-text-color: #000;
    --text-color: #333;
    --shadow-red: 0 0 10px rgba(255, 0, 0, 0.5);
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: var(--main-width);
    margin: 2rem auto;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: orange padding: 10px;
}

nav a {
    color: var(--nav-text-color);
    padding: 10px;
    display: block;
}

h1 {
    color: var(--text-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--shadow-red);
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

main img,
aside img {
    display: block;
    margin: 0 auto;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: orangered color: White;
    Text-align: center;
    box-shadow: var(--shadow-red);
    position: relative;
}

aside img {
    width: 100%;
    text-align: center;
}

aside h2 {
    color: white;
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid yellow;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: yellow;
    color: #000;

}