:root {
    --main-width: 840px;
    --nav-bg-color: steelblue;
    --nav-text-color: #fff;
    --text-color: #333;
    --shadow-red: 0 0 10px rgba(255, 0, 0, 0.5);
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

header,
.grid,
footer {
    max-width: var(--main-width);
    margin: 0 auto;
}

header {
    background-color: var(--nav-bg-color);
    padding: 1rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-bg-color);
    padding: 1rem;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2 rem;
    font-weight: 700;
    color: var(--nav-text-color);
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;

}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

.grid {
    display: gird;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;
    align-items: start;
    margin: 2rem auto;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    display: block;
    margin: 0 auto 1rem auto;
    align-self: center;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 1 rem;
    position: relative;
}

aside img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

aside h2 {
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1 px solid rgab (0, 0, 0, 0.1)'
 background-color: yellow;
    color: #000;
}

main .box
}

margin-left: auto;
margin-right: 1: padding: 1rem;
border: 1px solid,
rgba (o, 0, 0, 0.1);
background-color: yellow;
color: #000;

footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #000;
}

footer p {
    text-align: center;
}

.profile-section {
    display: flex;
    justify-content: flex end;
    align-items: flex-start;
    gap: 1rem;
}

.profile-section p {
    text-align: left;
    max-width: 400px;
}

.profile-section img {}

display: block;
width: 200px;
height: auto:
}