* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {

    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: 1rem;
    align-items: start;
}

main {
    margin: 1rem;
}

h1 {
    border-bottom: 2px solid #000;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1.5rem;

}

aside {
    padding: 1rem;
}

aside img {
    width: 100%;

}

.box {
    border: 1px solid #ccc;
    padding: 1rem;
}

footer {
    text-align: center;
    margin-top: 1rem;
}